.root{
    &__h1 {
        font-size: 63px;
        font-family: sans-serif;
        font-weight: 510;
    }
    &__h2{
        font-size: 24px;
        font-weight: 400;
        font-family: sans-serif;
    }
    &__h3{
            font-size: 30px;
            font-weight: 860;
            font-family: sans-serif;
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        font-family: sans-serif;
    }
    &__black{
        color: black;

    }
    &__white{
        color:white;
    }
}