.root {
	width: 20px;
	height: 20px;
	padding: 3px;
	border: 2px solid #1b0a29;
	border-radius: 50%;
	cursor: pointer;

	&__body {
		width: 100%;
		height: 100%;
		border-radius: 50%;

		&_checked {
			background: #23dcdc;
		}
	}
}
