.root {
    display: flex;
    max-width: 437px;
    padding: 19px 30px 25px;
    column-gap: 18px;
    border-top: 1px solid #E8D8F0;

    &__user__profile_image {
        width: 50px;
        height: auto;
        border-radius: 50%;
    }

    &__notification_info {
        display: flex;
        flex-direction: column;
        row-gap: 33px;
    }

    &__notification_header {
        color: #1B0A29;
        font-size: 16px;
        line-height: 24px;
    }

    &__user_name {
        font-weight: 700;
    }
    
    &__notification_description {
        font-weight: 400;
    }

    &__notification_date {
        color: #877D92;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
    }
}
