.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: calc(100vh - 40px);
    padding: 50px 40px 45px;
    background-color: #4B376E;
    border-radius: 25px;

    &__upperContainer {
        display: flex;
        flex-direction: column;
        row-gap: 53px; 
    }

    &__sidebar_items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
    }
}