.root {
    display: flex;
    align-items: center;
    column-gap: 15px;

    &__sidebar_item_title {
        color: #D9D9D9;
        font-size: 16px;
        line-height: 22px;
    }
    
    &__sidebar_item_icon {
        width: 24px;
        height: 24px;
    }
}