.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 22px 40px 24px;
    background-color: #fff;
    border-radius: 15px;

   &__icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-right: 15px;
    border-radius: 10px;
   }

   &__leftContainer {
    display: flex;
   }

   .green {
    background-color: #358844;
   }

   .orange {
    background-color: #ED8242;
   }

   &__course_item_title {
    color: #1B0A29;
   }


   &__lower_container {
    display: flex;
    color: #877D92;
    font-weight: 600;
    font-size: 16px;
   }

   &__course_item_button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    transform: rotate(-90deg);
   }
}
