.root {
	color: #1b0a29;
	font-weight: 700;
	font-family: 'Nunito Sans', sans-serif;

	&__h1 {
		font-size: 36px;
		font-family: Montserrat, sans-serif;
		line-height: 44px;
	}

	&__h3 {
		font-size: 22px;
		line-height: 30px;
	}

	&__h4 {
		font-size: 18px;
		line-height: 20px;
	}
}
