.root {
	position: relative;
	display: grid;
	width: 40px;
	height: 40px;
	margin: 10px 0 0 10px;
	border-radius: 50%;
	transform: scale(-1, 1);
	place-items: center;

	&_children {
		width: 80px;
		height: 80px;
	}

	&__body {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 84%;
		height: 84%;
		background: #fff;
		border-radius: 50%;
		transform: scale(-1, 1);

		&_children {
			width: 92%;
			height: 92%;
		}

		&__icon {
			width: 18px;
			height: 18px;
		}

		&__image {
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 90%;
				height: 90%;
				border-radius: 50%;
			}
		}
	}
}
